/* DEFAULT SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #32495B;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* COMMON TAG / LAYOUT ------------------------------------------- */
.container {
  width: 80%;
  margin: 0 auto;
}

.list-menu, .list-menu li, .list-menu a {
  display: inline-block;
  list-style: none;
  line-height: 80px;
  text-decoration: none;
}

.button {
  color: white;
  background-color: #FC927A;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
}

.column {
  float: left;
}

.fa-check {
  color: white;
  background-color: #FC927A;
  padding: 5px;
  border-radius: 50%;
  margin: 0 15px 0 20px;
  font-size: 0.6em;
}

/* <!-- PRIMA NAV-BAR --> */
.menu-one {
  height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* left menu */
.left, .left a {
  color: #32495B;
}
.fa-globe-europe {
  padding-right: 7px;
}
.menu-one .fa-angle-down {
  padding: 0 15px 0 5px;
  border-right: 2px solid #32495B;
  margin-right: 10px
}

/* right menu */
.right {
  float: right;
  /* text-align: right; come funzionava?----------------------------------*/
}
.fa-search {
  color: #02A4BD;
}
#bord, #color {
  border: 1px solid #FC927A;
  padding: 6px;
  margin-left: 15px;
  line-height: normal;
}
.bord.button {
  color: #FC927A;
  background-color: white;
}

/* <!-- SECONDA NAV-BAR --> */
.menu-two {
  height: 80px;
  width: 100%;
  margin-top: 80px;
  background-color: white;
}
nav .logo {
  /* height: 80px; */
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
}
nav .logo img {
  margin-top: 23px;
}

.box ul {
  float: right;
}
.box ul li a {
  color: #32495B;
}
.box ul i {
  margin-left: 5px;
  margin-right: 10px;
}
.Pricing{
  margin-right: 15px;
}

/* <!-- JUMBO --> */
.jumbo {
  background: url("./img/jumbotron.png");
  background-size: auto 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color: #FEF5EE;
  height: 500px;
  position: relative;
}
.the-square{
  width: 100%;
  height: 60px;
  background-color: #AFEBE4;
  border-top: 2px solid #1A2C44;
  border-bottom: 2px solid #1A2C44;
  position: absolute;
  left: 0;
  bottom: 0;
}
.small-cont {
  width: 40%;
}
.jumbo h1 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 2.5em;
}
.jumbo .button {
  line-height: 90px;
}

/* <!-- FIRST SECTION MAIN (1/3) --> */
.powerfull{
  background-color: #F4F9FD;
  padding-bottom: 60px;
}

/* <!-- the slim outsider --> */
.wid-50 {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}
.wid-50 img {
  height: 150px;
}
.wid-50 h1 {
  padding-bottom: 25px;
}
.wid-50 p {
  padding-bottom: 50px;
}

/* <!-- first row --> */ /*che schifo questo css è da rivedere */
.wid-100 {
  width: 100;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 70px;
  margin-bottom: 30px;
}
.wid-100 .uno-terzo {
  padding-bottom: 50px;
}
.wid-100 img {
  height: 100px;
}
.wid-100 .button {
  line-height: 90px;
}
.popolar-menu, .popolar-menu li, .popolar-menu a {
  line-height: normal;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: #32495B;
}
.wid-100 .column.uno-terzo {
  width: calc(100% / 3);
  text-align: center;
}

.wid-100 .column.due-terzo {
  width: 65%;
}
.due-terzo p {
  padding-top: 30px;
  padding-bottom: 15px;
}
.metro-title {
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
}
.metro {
  display: inline-block;
  border: 1px solid gray;
  width: 50%;
  margin-bottom: 0.3em;
  margin-left: 20px;
}


/* <!-- second row --> */
.iterzi .uno-terzo {
  width: 30%;
  text-align: center;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.iterzi img{
  height: 100px;
  margin-top: 25px;
}

.iterzi h2 {
  line-height: 60px;
}

.iterzi hr {
  margin-top: 60px;
  margin-bottom: 40px;
}

.iterzi a, .iterzi li {
  list-style: none;
  text-decoration: none;
  color: #32495B;
}

.iterzi ul {
  text-align: left;
  padding: 30px 0;
}

.iterzi a.button {
  line-height: 80px;
}

.sidemargin {
  margin: 0 5%;
}

.riquadro {
  width: 80%;
  margin: 0 auto;
}

/* <!-- SECOND SECTION MAIN (2/3) --> */
.learn-the-blue {
  background-color: #00B0B1;
  text-align: center;
}

.bord-table .column {
  width: 25%;
}
